@use "./utils/vars.scss" as*;
@use "./utils/colors.scss" as*;
@use "./utils/mixins.scss" as*;


@import "./global/global.scss";
@import "./components/main-header.scss";
@import "./components/hero.scss";
@import "./components/columns.scss";
@import "./components/business.scss";
@import "./components/staff.scss";
@import "./components/clients.scss";
@import "./components/main-footer.scss";
@import "./components/modal.scss";
@import "./components/forms.scss";
@import "./components/button-menu.scss";
@import "./components/image-list.scss";
@import "./components/menu-container.scss";





