* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    text-decoration: none;
    line-height: 1.5;

}
h2 {
    justify-content: center;
    display: inline;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;

}

.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;

    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }

}

:hover,
:focus,
::after,
::before {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
li {
    display: inline;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transform: scale;
    visibility: visible;
}
.modal {
    position: absolute;
    
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
