.business {
    display: none;
    &_head {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: 700;
        max-width: fit-content;
        align-items: stretch;
        padding-bottom: 50px; 
        margin: auto;
    }
    &_list {
        display: flex;
    }
    &_list-item {
        margin-right: 30px;
        position: relative;
        list-style-type: none;
        overflow: hidden;
        display: flex;  
    }
    &_text {
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 70px;
        bottom: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $secondaryFontColor;
        background-color: rgba(47, 48, 58, 0.8);
        display: flex;
        padding-top: 25px;

    }
    
}