.image-list {
    display: flex;
    flex-wrap:wrap;
    list-style:inside;
    padding: unset;
    margin: unset;
    gap: 30px;
    
    
    &_text {
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        width: 370px;
        padding-top: 20px;

        & h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            color: #212121;
            margin-bottom: 4px;
            margin-left: 24px;
        }
        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #757575;
            margin-left: 24px;
            margin-bottom: 20px;
        }
    }
    
    &_item {
        flex-basis: calc((100% - 60px) / 3);
        max-width: 370px;
        
        
    }
    &_item:hover {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
    &_item:hover &_overlay {
        transform: translateY(0);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
   
    &_box {
        position: relative;
        overflow: hidden;
    }
      
    &_overlay {
        position: absolute;
        background: rgba(33, 150, 243, 0.9);
        width: 370px;
        height: 294px;
        transform: translateY(+294px);
        
    }
    &_overlay p {
        
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF; 
        padding-top: 49px;
        padding-left: 24px;
        
    }
  
}

