.main-header {
    height: 80px;
    display: flex;
    border-bottom: solid 1px #ECECEC;
    background: var(--background-first);
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_button {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        margin-left: auto;
        margin-right: 10px;
        @include tablet { 
            display: none;
        }
    }


    &_logo {
        font-weight: 700;
        text-decoration: none;
        color: $primaryFontColor;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em; 
        margin-left: 10px;
        @include tablet {
            margin-left: 15px;
        } 
    }
    & span {
        color: #2196F3;
    }
    &_nav {
        display: flex;
        justify-content: center;
        align-items: center;     
    }
    &_menu {
        display: none;
        margin-left: 93px;
        margin-right: auto;
        @include tablet {
            display: flex;
            justify-content: center;
            margin-right: auto;
        }
        @include desktop {
            display: flex;
            justify-content: center;
        }
    }
    &_nav-item {
        margin-right: 46px;
        display: inline;
    }
    &_link {
        font-style: normal;
        text-decoration: none;
        color: $primaryFontColor;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        justify-content: space-between;
        align-items: center;
        &--current {
            color: var(--hover-color);
        }
    }
    &_underline {
        position: absolute;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        margin-top: 48px;
        background: #2196F3;
    }
    &_nav-item:hover a,
    &_nav-item:focus a {
        color: var(--focus-color);
        color: var(--hover-color);
    }

    &_contact {
        display: none;
        margin-left: auto;
        margin-right: 0;
        justify-content: space-between;
       
        @include tablet {
            display: block;
            margin: auto;
        }
        @include desktop {
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
        }
    }
    &_contact-item {
        margin-left: 50px;
        
    }
    &_contact-item a {
        font-style: normal;
        text-decoration: none;
        color: var(--contact-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        fill: var(--contact-color);
        & svg {
            margin-right: 10px;
        }
    
    }
   
    &_contact-item:hover a {
        color: var(--hover-color);
        fill: var(--hover-color);
    }   
}


