.menu-container.is-open {
    transition: translateX(0);
}
.menu-container {
    position: fixed;
    background-color: #fff;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: translateX(100%);

    &_clth-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background: transparent;
        border: none;
    }
    
    
    &_mobile-contact {
        display: flex;
        flex-direction: column; 
        margin-left: 40px;
    }
    &_telephone {
        color: #2196F3;
        font-size: 34px;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.68px;
        margin-bottom: 32px;
    }
    &_mail {
        color: #757575;
        font-size: 24px;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.48px;
        margin-bottom: 64px;
    }
    &_social-list {
        display: flex;
        flex-direction:inherit;
        gap: 10px;
        margin-left: 40px;
        margin-bottom: 48px;
    } 
    &_social-list-item {
        color: #2196F3;
        font-size: 18px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;
    }
    
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 40px;
    margin-top: 48px;
    &_link {
        display: flex;
        color: #212121;
        font-size: 40px;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
}
