:root {
    --focus-color: rgba(33, 150, 243, 1);
    --background-color: #2196F3;
    --hover-color: rgba(33, 150, 243, 1);
    --background-first: #ffffff;
    --background-second: #F5F4FA;
    --background-third: #2F303A;
    --contact-color: #757575;
    
}
